.task-container{
    width: 400px;
    margin: 20px;
    padding: 15px;
    border-radius: 10px;
    /* border: 1px solid  #ff4d94; */
    box-shadow: 0  0 1px 1px  #ff4d94;
    position: relative;
}
.task-title{
    margin: 2px;
}
.task-description{
    margin: 5px;
}
.task-priority{
    position: absolute;
    right: 0;
    top: 0;
    background-color:#ff0080;
    color: white;
    border-radius: 0 10px 0 0;
    padding: 2px;
    width: 80px;
}
.task-delete-icon{
    position: absolute;
    bottom: 5px;
    right: 5px;
    cursor: pointer;
}