.task-container{
    width: 400px;
    margin: 20px;
    padding: 15px;
    border-radius: 10px;
    border: 1px solid rgb(238, 126, 109);
    background-color:beige;
    position: relative;
}
.task-title{
    margin: 2px;
    font-size: 26px;
    font-weight: 550;
    font-family: Arial, Helvetica, sans-serif;
}
.task-description{
    margin: 5px;
    font-size: 21px;
}
.task-priority{
    position: absolute;
    right: 0;
    top: 0;
    background-color:rgb(223, 99, 80);
    border-radius: 0 10px 0 3px;
    padding: 3px;
    font-size:21px;
    color: white;
    width: 115px;
}
.task-priority-icon{
    font-size: 21px;
}
.task-delete-icon{
    position: absolute;
    bottom: 5px;
    right: 5px;
    cursor: pointer;
    box-shadow: 0 0 5px 1px rgba(0,0,0,0.3);
    font-size: 18px;
    padding: 3px;
    border-radius: 50px ;
    margin: 3.5px;
}

.task-edit-icon{
    position: absolute;
    bottom: 5px;
    right: 50px;
    cursor: pointer;
    box-shadow: 0 0 5px 1px rgba(0,0,0,0.3);
    font-size: 18px;
    border-radius: 50px ;
    margin: 3.5px;
    padding: 3px; 
}
@media screen  and (max-width:600px){
    .task-container{
        width: 200px;
        margin: 20px;
        padding: 15px;
        border-radius: 10px;
        border: 1px solid rgb(238, 126, 109);
        background-color:beige;
        position: relative;
    }
    
}