.task-container{
    width: 400px;
    margin: 20px;
    padding: 15px;
    border-radius: 10px;
    /* border: 1px solid  #ff4d94; */
    /* box-shadow: 0  0 2px 1.5px #00cccc; */
    background-color:beige;
    position: relative;
}
.task-title{
    margin: 2px;
}
.task-description{
    margin: 5px;
    font-size: 21px;
}
.task-priority{
    position: absolute;
    right: 0;
    top: 0;
    background-color:#006666;
    color: white;
    border-radius: 0 10px 0 0;
    padding: 2px;
    width: 80px;
}
.task-delete-icon{
    position: absolute;
    bottom: 5px;
    right: 5px;
    cursor: pointer;
    box-shadow: 0 0 5px 1px black;
    font-size: 24px;
    border-radius: 50px ;
}

.task-edit-icon{
    position: absolute;
    bottom: 5px;
    right: 50px;
    cursor: pointer;
    box-shadow: 0 0 5px 1px black;
    font-size: 24px;
    border-radius: 50px ;
    
}