
.container{
    background-color: rgb(239, 191, 184);
    height: 100vw;
   padding: 30px;
}
.app-title{
    text-align: center;
    font-size: 30px;
    background-color: rgb(237, 161, 150);
    width: fit-content;
    display: block;
    margin: 10px auto;
  
    padding: 10px;
    border-radius: 10px;
}
.todo-flex-container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 60px;
}
.task-input{
    display: block;
    width: 300px;
    font-size: 18px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    margin: 30px 10px ;
}
.btn-add-task{
    background-color:rgb(237, 161, 150);
   font-weight: bold;
   border:5px rgb(244, 136, 119);
    border-radius: 15px;
    padding: 10px 5px;
    border: none;
    margin:20px;
    font-size: 20px;
    width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.text-center{
   text-align: center;
   font-size: 30px;
}
.btn-container{
    display: flex;
    justify-content: space-around;
}
.tasks-container{
    /* background-color: #ff0066; */
    height: 400px;
    overflow-y:scroll;
}
.tasks-container::-webkit-scrollbar{
    width: 5px;
}
.task-input{
    border: none;
    font-size: 17px;
}