.container{
    padding: 10px;
    margin: 0;
    /* background-color: bisque; */
    min-height: 100vh;
}
.app-title{
    text-align: center;
    background-color:#cc0066 ;
    width:fit-content;
    padding: 10px 40px;
    display: block;
    margin: 10px auto ;
    border-radius: 10px;
    color: white;
}
.todo-flex-container{
    display: flex;
    justify-content: space-around;
}