.container{
    background-color: rgb(243, 203, 197);
    height: 100vh;
   padding: 30px;
}
.app-title{
    text-align: center;
    font-size: 33px;
    background-color: rgb(237, 161, 150);
    width: 500px; 
    display: block;
    margin: 10px auto;
    letter-spacing: 1px;
    word-spacing: 3px;
    padding: 10px;
    border-radius: 10px;
}
.todo-flex-container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 60px;
}
.task-input{
    display: block;
    width: 300px;
    font-size: 18px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    margin: 30px 10px ;
}
.btn-add-task{
    background-color:rgb(242, 155, 141);
    font-weight: bold;
    border-radius: 25px;
    padding: 10px 5px;
    margin:20px;
    font-size: 20px;
    width: 250px;
    border: 8px rgb(216, 63, 39);
    display: block;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}
.btn-add-task:hover{
    width: 260px;
    transition: 0.5s;

}
.text-center{
   text-align: center;
   font-size: 30px;
}
.btn-container{
    display: flex;
    justify-content: space-around;
}
.tasks-container{
    /* background-color: #ff0066; */
    height: 400px;
    overflow-y:scroll;
}
.tasks-container::-webkit-scrollbar{
    width: 5px;
}
.task-input{
    border: none;
    font-size: 17px;
    border: 1px solid rgb(238, 126, 109);
}

@media screen and (max-width:600px){

    .container{
        background-color: rgb(243, 203, 197);
        height: 200vh;
       padding: 30px;
    }
    .todo-flex-container{
        display: flex;
        flex-wrap: wrap;
        margin-top: 60px;
    }

}
    
